/.bundle
/db/*.sqlite3
/log
/tmp
sevenwonders-html/
*.swp
*~
*#
pgsql/
httpd/
config/database.yml
config/unicorn.rb
public/assets/
config/initializers/piggybak_live.rb
jtour*
public/system/galleries/46/
public/system/galleries/47/
public/system/galleries/48/
public/system/galleries/49/
public/system/galleries/5*/
.ruby-version
