<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
<link rel="shortcut icon" href="images/content/favicon.ico" />
<meta http-equiv="Content-Script-Type" content="text/javascript" /> 
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" /> 
<meta name="robots" content="index, follow" />
<meta name="keywords" content="" />
<meta name="title" content="Piggybak: A Mountable Ruby on Rails Ecommerce Solution" />
<meta name="description" content="" />
<title>Piggybak Documentation</title>
<link rel="shortcut icon" href="images/favicon.ico" />

<!--CSS-->
<link rel="stylesheet" type="text/css" href="styles/skeleton_12.css" media="screen" />
<link rel="stylesheet" type="text/css" href="styles/style.css" media="screen" />
<link rel="stylesheet" type="text/css" href="styles/nivo-slider.css"/>
<link rel="stylesheet" type="text/css" href="styles/response.css" media="screen" />
<link rel="stylesheet" type="text/css" href="styles/light.css" media="screen" />
<!--Javascript-->
<script type="text/javascript" src="js/jquery-1.5.1.min.js"></script>
<script type="text/javascript" src="js/hoverIntent.js"></script> 
<script type="text/javascript" src="js/jquery.easing.1.3.js"></script> 
<script type="text/javascript">
jQuery(document).ready(function(){
	//jQuery tab
	jQuery(".tab-content,.tab2-content").hide(); //Hide all content
	jQuery("ul.tabs li:first, ul.tabs2 li:first").addClass("active").show(); //Activate first tab
	jQuery(".tab-content:first,.tab2-content:first").show(); //Show first tab content
	//On Click Event
	jQuery("ul.tabs li").click(function() {
		jQuery("ul.tabs li").removeClass("active"); //Remove any "active" class
		jQuery(this).addClass("active"); //Add "active" class to selected tab
		jQuery(".tab-content").hide(); //Hide all tab content
		var activeTab = jQuery(this).find("a").attr("href"); //Find the rel attribute value to identify the active tab + content
		jQuery(activeTab).fadeIn(200); //Fade in the active content
		return false;
	});
	jQuery("ul.tabs2 li").click(function() {
		jQuery("ul.tabs2 li").removeClass("active"); //Remove any "active" class
		jQuery(this).addClass("active"); //Add "active" class to selected tab
		jQuery(".tab2-content").hide(); //Hide all tab content
		var activeTab = jQuery(this).find("a").attr("href"); //Find the rel attribute value to identify the active tab + content
		jQuery(activeTab).fadeIn(200); //Fade in the active content
		return false;
	});
	
});
</script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-525312-15']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
	
</head>
<body>
<div id="wrapper">

	<div id="wrapper-top">
		<div class="container">
			<div id="top">
				<div id="logo" class="four columns">
					<a href="index.html"><img height="60" src="images/piggybak.png" alt="Piggybak" /></a>
				</div><!--#logo-->
				<div id="nav" class="eight columns">
					<ul id="topnav" class="sf-menu">
						<li><a href="index.html">Home</a></li>
						<li><a href="features.html">Features</a></li>
						<li class="current"><a href="documentation.html">Documentation</a></li>
						<li><a href="demo_details.html">Demo</a></li>
					</ul><!-- #topnav -->
				</div><!--#nav-->
				<div class="clearfix"></div>
			</div><!--#top-->
		</div><!--container-->
	</div><!--#wrapper-top-->
	
	<div id="wrapper-beforeheader">
		<div class="container">
			<div id="sn" class="six columns">
			</div><!--#sn-->
			<div id="toptext" class="six columns">
				<span><a href="index.html">Home</a> &raquo; Documentation</span>
			</div><!--#toptext-->
			<div class="clearfix"></div>
		</div><!--container-->
	</div><!--#wrapper-beforeheader-->
	
	<div id="wrapper-header">
		<div class="container">
			<div id="header" class="twelve columns">
				<div id="header-text">
					<h1>Piggybak: A Mountable Ruby on Rails Ecommerce Solution</h1>
					<p><a href="https://github.com/stephskardal/piggybak">Piggybak</a> is a Ruby on Rails 3 Engine with basic shopping cart and one page checkout functionality. It uses <a href="https://github.com/sferik/rails_admin">Rails Admin</a> to provide an admin interface to work with orders, products, shipping methods, payment methods, and tax methods. It is not an ecommerce turn-key solution, but is intended to be mounted on existing Rails applications.</p>
				</div><!-- #header-text -->
			</div><!--#header-->
		</div><!--container-->
	</div><!--#wrapper-header-->
	
	<div id="wrapper-content">
		<div class="container">
			<div id="content" class="twelve columns">
				<div class="title">
					<h1><span class="f-left"></span><span class="titletext">Documentation</span><span class="f-right"></span></h1>
				</div>
				<div id="maincontent" class="twelve columns alpha">
					<div class="tabcontainer">
						<ul class="tabs">
							<li><a href="#tab5">Base Application</a></li>
							<li><a href="#tab0">Installation</a></li>
							<li><a href="#tab1">Integration</a></li>
							<li><a href="#tab6">Configuration</a></li>
							<li><a href="#tab2">Appearance Overrides</a></li>
							<li><a href="#tab3">Recipes</a></li>
							<li><a href="#tab4">Road Map</a></li>
						</ul>
						<div id="tab-body">
							<div id="tab5" class="tab-content">
								<p>The parent Ruby on Rails application must be on Rails 3.1.*. Piggybak has shown to be compatible with both Ruby 1.8 and Ruby 1.9. While it is not a requirement that the parent application be using <a href="https://github.com/sferik/rails_admin">RailsAdmin</a>, it is a recommendtion. RailsAdmin depends on <a href="https://github.com/plataformatec/devise">Devise</a> for user authentication. <a href="https://github.com/ryanb/cancan">CanCan</a> is also used for authorization by RailsAdmin. It is highly recommended that you be familiar with RailsAdmin, Devise, and CanCan while working with Piggybak.</p>
							</div>
							<div id="tab0" class="tab-content">
								<p>Installation is similar to installation of other Rails gems. First, install the gem by adding the following line to your Gemfile:</p>
								<pre>gem "piggybak"</pre>
								<p>Install the gem:</p>
								<pre>bundle install</pre>
								<p>Copy over migrations from the Piggybak gem to your application.</p>
								<pre>rake piggybak_engine:install:migrations</pre>
								<p>Apply the migrations. Note that Piggybak creates several tables that are not namespaced. They will fail if there is conflict in table names.</p>
								<pre>rake db:migrate</pre>
								<p>Mount the Engine to your config/routes.rb file. This may look like:</p>
								<pre>mount Piggybak::Engine => '/checkout', :as => 'piggybak'" to config/routes</pre>
								<p>The engine may be mounted anywhere without affecting it's functionality.</p>
							</div>
							<div id="tab1" class="tab-content">
								<p>After installation, Piggybak has several integration points:</p>
								<pre>acts_as_variant</pre>
								<p>acts_as_variant can be added inside any ActiveRecord models in your application to make tha item become sellable. This results in a nested form for variant data in the admin interface.</p>
								<pre>acts_as_orderer</pre>
								<p>acts_as_orderer must be added to the Devise user model. This creates the Ruby on Rails association between user and orders.</p>
								<pre><%= cart_form(@some_item) %></pre>
								<p>The cart_form helper renders a basic add to cart form.</p>
								<pre><%= cart_link %></pre>
								<p>The cart_link helper displays a link with total number of items and price to the user's shopping cart.</p>
								<pre><%= orders_link("Order History") %></pre>
								<p>The orders_link helper renders a link to a logged in user's orders, with an argument to control the link anchor text.</p>
							</div>
							<div id="tab2" class="tab-content">
								<p>Piggybak views may be overridden to present custom appearances for the shopping cart, checkout, receipt, and order history pages. To do this, simply copy over views directly from the gem source into the primary application to mirror the directory structure.</p>
								<p>Overridable views include:</p>
								<ul>
									<li>Add to cart form</li>
									<li>Items display (on cart, order, receipt)</li>
									<li>Cart page</li>
									<li>Address form on checkout page</li>
									<li>Order details partial</li>
									<li>Order list page</li>
									<li>Order receipt page</li>
									<li>Order submission page</li>
									<li>Order download text page</li>
									<li>Order email notification view</li>
								</ul>
							</div>
							<div id="tab3" class="tab-content">
								<p>Looking for a few tips on integration in the parent application? Here they are.</p>
								<h3>Redirect After Log In and Log Out</h3>
								<p>The one page checkout has functionality to allow users to log in and log out. This must be coordinated in the parent application to handle redirects on log in and log out. Using Devise's callbacks for these actions, the following can be added to the ApplicationController to handle redirects.</p>
<pre>
before_filter :set_last_page
def set_last_page
  if !request.xhr? && !request.url.match(/users\/sign_in/) && !request.url.match(/users\/sign_out/)
    session[:return_to] = request.url
  end 
end 
def after_sign_in_path_for(resource_or_scope)
  session[:return_to] || root_url
end 
def after_sign_out_path_for(resource_or_scope)
  session[:return_to] || root_url
end 
</pre>
								<h3>CanCan Integration</h3>
								<p>Since the parent Ruby on Rails application introduces custom models, it also must make the decision on how to authorize Piggybak elements to users. Here's a basic setup which allows users with administrative rights access to the full set of Piggybak actions.</p>
<pre>
class Ability
  include CanCan::Ability
  def initialize(user)
    if user && # method for user has administrative rights
      can :access, :rails_admin
      can :manage, [ #Parent Application models
                    ::Piggybak::Variant,
                    ::Piggybak::ShippingMethod,
                    ::Piggybak::PaymentMethod,
                    ::Piggybak::TaxMethod,
                    ::Piggybak::State,
                    ::Piggybak::Country]

      # can't delete orders
      can [:email, :download, :cancel, :read, :create, :update, :history, :export], ::Piggybak::Order

      can :refund, ::Piggybak::Payment
    end
  end
end
</pre>
							</div>
							<div id="tab4" class="tab-content">
								<p>What's on the road map for this gem? Here are the current priorities:</p>
								<ul>
									<li>Add testing support</li>
									<li>Add credit card encryption and refund support</li>
									<li>Add helper for Google Analytics order tagging</li>
									<li>Move to ActiveSupport::Concern for acts-as-* method</li>
								</ul>
							</div>
							<div id="tab6" class="tab-content">
								<p>The parent application can override Piggybak's configuration options with a standard config initializer.</p>
<pre>
Piggybak.config do |config|
  # Config attr_accessors are:
  # shipping_calculators
  # payment_calculators
  # tax_calculators
  # default_country
  # activemerchant_test mode

  # Add calculators with the following method
  config.shipping_calculators << "Pickup"

  # Or, Override calculatores with the following override
  config.payment_calculators = ["BeanstreamGateway"]

  # Override the default country
  config.default_country = "CA"

  # Override the activemerchant billing mode
  config.activemerchant_mode = :test
end
</pre>
							</div>
						</div>
					</div>
				</div><!--#maincontent-->
				<div class="clearfix"></div>
			</div><!--#content-->
		</div><!--container-->
	</div><!--#wrapper-content-->
	
	<div id="wrapper-beforefooter">
		<div class="container">
			<div id="slogantext" class="twelve columns">
				<a href="http://www.endpoint.com/"><img src="./images/end_point.png" alt="End Point" /></a><br />
				Piggybak is sponsored and developed by <a href="http://www.endpoint.com/">End Point</a>. End Point has over 15 years of ecommerce experience.
			</div><!--#slogantext-->
		</div><!--container-->
	</div><!--#wrapper-beforefooter-->
	
	<div id="wrapper-footer">
		<div class="container">
		<div id="footer" class="twelve columns">
			<span id="copyright">Copyright &copy;2012 End Point.  All Rights Reserved.</span>
			<ul id="footnav">
				<li><a href="index.html" >Home</a></li>
				<li><a href="features.html">Features</a></li>
				<li class="current"><a href="documentation.html">Documentation</a></li>
				<li><a href="demo_details.html">Demo</a></li>
			</ul><!-- #footnav -->
		</div><!--#footer-->
		</div><!--container-->
	</div><!--#wrapper-footer-->
</div><!--#wrapper-->

</body>
</html>
